{% extends 'base.html' %}

{% load static %}

{% block title %}Кошик{% endblock %}

{% block content %}
    <div class="tab-content">
    {% if cart %}
        <table class="table align-self-auto">
          <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Зображення</th>
                <th scope="col">Назва</th>
                <th scope="col">Кількість</th>
                <th scope="col">Ціна за одиницю</th>
                <th scope="col">Ціна</th>
                <th scope="col">Видалити з кошика</th>
            </tr>
          </thead>
          <tbody>
          {% for item in cart %}
              {% with product=item.product %}
                  <tr>
                  <td>{{ forloop.counter }}</td>
                      <td><a href="{{ product.get_absolute_url }}">
                                    <img style="max-width: 55pt; max-height: 55pt"
                                         src="
                                        {% if product.image %}
                                            {{ product.image.url }}
                                        {% else %}
                                            {% static "style/default.jpg" %}
                                        {% endif %}">
                      <td><a href="{% url 'products:product_detail' product.slug %}">{{ product.title }}</a></td>
                      <td>{{ item.quantity }} шт.</td>
                      <td>{{ item.price }}{{ product.currency }}</td>
                      <td>{{ item.total_price }}</td>
                      <td><a href="{% url 'cart:cart_remove' product.pk %}">Видалити</a></td>
                  </tr>
              {% endwith %}
          {% endfor %}
          </tbody>
        </table>
    {% else %}
        <h3>Кошик пустий</h3>
    {% endif %}
    <hr>
        <tr>
            <td>Підсумок:</td>
            <td colspan="4"></td>
            <td class="num"><h2>{{ cart.get_total_price }} грн</h2></td>
        </tr>
    <p class="text-right">
        <a href="{% url "products:index" %}" class="button light">Продовжити покупки</a>
        <a href="#" class="button">Оформити замовлення</a>
    </p>
    </div>
{% endblock %}
