{% extends 'base.html' %}

{% load bootstrap4 %}
{% load static %}
{% load thumbnail %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="container-fluid mb-2">
        <div class="col">&nbsp;</div>
        <form>
            {% bootstrap_form form show_label=False %}
            {% bootstrap_button content='Знайти' button_type='submit' %}
        </form>
        <hr>
        <a href="{% url 'products:index' %}">Головна</a>  /
        <a href="{% url 'products:in_category' category.pk %}">{{ category.name }}</a>
        <hr>
            <div class="row align-items-start">
                {% for sub_category in sub_categories %}
                    <div class="col-md-auto ">
                        <a href="{% url 'products:in_sub_category' sub_category.pk %}">{{ sub_category.name }}</a>
                    </div>
                {% endfor %}
            </div>
        <hr>
    </div>


 {% if products %}
        <ul class="list-unstyled">
            {% for product in products %}
                <li class="media my-5 p-3 border">
                    {% if product.image %}
                        <img class="mr-3" src="{% thumbnail product.image 'default' %}">
                    {% else %}
                        <img class="mr-3" src="{% static 'style/img1.jpg' %}">
                    {% endif %}

                    <div class="media-body">
                        <h3>
                            <a href="{% url 'products:product_detail' product.slug %}">
                                {{ product.title }}
                            </a>
                        </h3>
                        <div>{{ product.description }}</div>
                        <p class="text-right font-weight-bold">
                            {{ product.price }} {{ product.currency }}
                        </p>
                        <p class="text-right font-italic">
                            {{ product.published }}
                        </p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% bootstrap_pagination page url=search_keyword %}
    {% endif %}
{% endblock %}